
{% extends "paragraph.html.twig" %}

{% block componentContent %}

  {# Attach CSS/JS Libraries #}
  {{ attach_library('loren/a11y-tabs') }}


  {# Sets Unique ID for Accordion from Paragraph ID. #}
  {% set section_id = 'section' ~ paragraph.id.value %}
  {% set tab_id = 'tab' ~ paragraph.id.value %}

  {#    Do not display as tabs for mobile#}
  <div class="non-tabs">
    {# Loops through the tab sections to prints the tabs. #}
    {% for key, item in content.field_sections if key|first != '#' %}

      <div class="non-tab-section">
        <div class="non-tab-section-title"><h3>{{ item['#paragraph'].field_section_title.value }}</h3></div>
        <div class="non-tab-wrapper">
          {{ item['#paragraph'].field_section_body.value | check_markup(item['#paragraph'].field_section_body.format) }}
        </div>
      </div>
    {% endfor %}
  </div>

  {#    Display as tabs when browser is wide enough#}
  <div class="loren-tabs js-tabs {{ paragraph.field_tab_style.value|clean_class }}">

    <ul class="js-tablist"  data-existing-hx="h2" data-tabs-prefix-class="loren-tabs">

      {# Loops through the tab sections to print the tab section titles. #}
      {% for key, item in content.field_sections if key|first != '#' %}

        <li class="js-tablist__item">
          <a href="#{{ section_id }}-{{ key + 1 }}" id="label_{{ section_id }}-{{ key + 1 }}" class="js-tablist__link">{{ item['#paragraph'].field_section_title.value }}</a>
        </li>

      {% endfor %}

    </ul>

    {#   the following wrapper and class is not necessary for the jQuery plugin - just for styling flexibiilty   #}
    <div class="tabcontent-wrapper">

      {# Loops through the tab sections again to print the tab section bodies. #}
      {% for key, item in content.field_sections if key|first != '#' %}

        <div id="{{ section_id }}-{{ key + 1 }}" class="js-tabcontent">

          {#            <h2 class="invisible">#}
          {#              {{ item['#paragraph'].field_section_title.value }}#}
          {#            </h2>#}

          <h2 class="tab-item-title">
            {{ item['#paragraph'].field_section_title.value }}
          </h2>

          {#   the following wrapper and class is not necessary for the jQuery plugin - just for styling flexibiilty   #}
          <div class="tabcontent-item-wrapper">

            {{ item['#paragraph'].field_section_body.value | check_markup(item['#paragraph'].field_section_body.format) }}

          </div>

        </div>

      {% endfor %}

    </div>


  </div>

{% endblock %}

